# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment
venv/
env/

# Flask instance folder
instance/

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Database
*.sqlite
*.db

# Miscellaneous
*.DS_Store
Tic-Tac-Toe